@model IEnumerable<MoovTn.Domain.Models.Station>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Available Stations</h2>

  
    <div class="row">
        <div class="col-md-3">
            <aside class="sidebar-left">



                <div class="sidebar-widget">
                    <h4>Facebook</h4>
                    <div class="fb-like-box" data-href="https://www.facebook.com/MoovTn" data-colorscheme="light" data-show-faces="1" data-header="1" data-show-border="1" data-width="233"></div>
                </div>
            </aside>
        </div>
        <div class="col-md-9">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <br />
            <table class="table table-bordered table-striped table-booking-history">
                <tr>

                    <th style="text-align: center">
                        <label>Name</label>
                    </th>
                    <th style="text-align: center">

                        <label>Type</label>
                    </th>
                    <th style="text-align: center"></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>

                        <td style="text-align: center" >
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td style="text-align: center">
                            @Html.DisplayFor(modelItem => item.type) station
                        </td>
                        <td style="text-align: center">
                           
                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "delete-link" })|

                        </td>
                    </tr>
                }

            </table>

        </div>
        </div>

       
         
    </div>