@model MoovTn.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-6">
        <section id="loginForm">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Enter your email.</h4>
                
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group form-group-ghost form-group-icon-left" style="margin-left: 0">
                    <i class="fa fa-envelope input-icon input-icon-show"></i>
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                   
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                   
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="padding-right: 0">
                        <input type="submit" class="btn btn-primary" value="Email Link" style="float: right;"/>
                    </div>
                </div>
            }
            </section>
        </div>
    </div>

           

